---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import AppSwipeFinger from '@/components/AppSwipeFinger.astro'
import SpTel from '@/components/SpTel.vue'
import SmoothScroll from '@/components/SmoothScroll.vue'
import AppTeachers from '@/components/AppTeachers.vue'
import { Constants } from '@/utils/constants.ts'
import Modal from '@/components/Modal.vue'

const meta = {
  title: '先生大募集 | ろう児･難聴児のオンライン対話学習コミュニティ｢Circle O - サークルオー｣',
  description: '全国のろう児･難聴児に“繋がり”と“学び”を届けよう！聞こえない先輩や友達との出会える場が少ない､勉強や習い事などの選択肢が限られてしまう､これらの状況により将来への期待を持てない子どもたちがいます｡オンライン対話学習コミュニティ「サークルオー」では､そんな状況にある､ろう児･難聴児の家庭へ､オンライン授業の提供を行っています｡',
  ogImage: '/img/global/ogi/default.jpg',
  titleSuffix: false
}
---
<DefaultLayout { meta }>
  <div class:list={[Constants.mbLg]}>
    <div class="row justify-content-center">
      <div class="col-lg-11 col-xl-9">
        <div class:list={['row no-gutters justify-content-center align-items-end mb-4']}>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-4.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-2.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-3.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-1.svg" style="aspect-ratio:48/49" alt="CIRCLE-O">
          </div>
        </div>
        <div class:list={['d-grid',Constants.gapDef]}>
          <h1 class="clr-blk font-V7MG-EB fz-xsm text-center"><strong class="clr-co mb-1 fz-tl ls-n005 d-block">👩‍🏫手話のできる先生募集👨‍💻</strong></h1>
          <div class="row justify-content-center align-items-center add-gutters">
            <div class="col-md-10 col-lg-8">
              <div class:list={['d-grid',Constants.gapDef]}>
                <h2 class="fz-5 lh-103 font-V7MG-EB clr-blk text-center">全国のろう児･難聴児に<br class="d-md-none">“繋がり”と“学び”を届けよう！</h2>
                <p class="fz-1">聞こえない先輩や友達との出会える場が少ない､勉強や習い事などの選択肢が限られてしまう､これらの状況により将来への期待を持てない子どもたちがいます｡オンライン対話学習コミュニティ「サークルオー」では､そんな状況にある､ろう児･難聴児の家庭へ､オンライン授業の提供を行っています｡</p>
                <div class="d-grid gap-1">
                  <h3 class="fz-2 clr-blk">子どもたちの未来を一緒につくりましょう！</h3>
                  <p class="fz-1">現在､子どもたちの未来を私たちと一緒に作ってくださる先生を募集しております !先生方の経験のひとつひとつが､子どもたちの学びに変わっていきます｡</p>
                </div>
              </div>
            </div>
            <div class="col-lg">
              <div class:list={['mt-3 mt-lg-0 embed-responsive embed-responsive-16by9 rounded ovh z-1 position-relative bsd bc-co bw-05r bg-co btn-neumo']}>
                <iframe loading="lazy" class="w-100 rounded ovh"  src="https://www.youtube-nocookie.com/embed/4-hL2XI3_Dw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <h4 class="fz-05 font-V7MG-EB text-right">授業の様子はこの動画を🎥 <a href="https://twitter.com/circleo_" target="_blank" class="clr-co">公式twitter<i class="fab fa-twitter"></i></a>も</h4>
            </div>
          </div>
          <div class="rounded-sm ovh bg-wht bsd bc-co bw-04r effect-neumo">
            <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
              <h2 class="fz-6 lh-103 mx-n2 ls-0 clr-co font-V7MG-EB text-center">応募要項 😊 💬</h2>
              <div class:list={['row justify-content-center add2x-gutters',Constants.gapDef]}>
                <div class="col-sm-8">
                  <div class="d-grid gap-1">
                    <h3 class="font-V7MG-EB clr-blk fz-2">応募資格</h3>
                    <ul class="liDisc">
                      <li>手話等の情報保障ができる(自由に会話できるレベル)</li>
                      <li>平日午後（17時〜21時）土日祝（9時〜21時）に週 2 回以上指導ができる (50 分間 / コマ )</li>
                      <li>聞こえない子どもへの教育経験がある､もしくは今後関わりたいと考えている</li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="d-grid gap-1">
                    <h3 class="font-V7MG-EB clr-blk fz-2">報酬</h3>
                    <p class="fz-2 font-V7MG-EB lh-104">1コマ基本報酬<small>(税込)</small><br><strong class="bigger-3 clr-co">1,200</strong>円</p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid gap-1">
                    <h3 class="font-V7MG-EB clr-blk fz-2">募集コース</h3>
                    <ul class="form-row">
                      <li class="col-sm-6">
                        <div class="rounded-sm ovh bg-wht bsd bc-co effect-neumo">
                          <div class="row no-gutters align-items-center">
                            <div class="col-lg-auto">
                              <h2 class="fz-4 lh-103 bg-gray-light brsd-lg bbsd bb-lg-0 bc-co clr-co ls-0 px-3 py-405 d-lg-inline-block text-center font-V7MG-EB">対話型ことば学習コース<small class="d-block smaller-3">〜楽しくことばに触れる､使う､慣れる〜</small></h2>
                            </div>
                            <div class="col-lg py-3">
                              <div class="row no-gutters justify-content-center">
                                <div class="col-auto">
                                  <dl class="row low-gutters align-items-center fz-05">
                                    <dt class="col-auto">対象</dt>
                                    <dd class="col font-V7MG-EB">小学校低学年</dd>
                                  </dl>
                                  <dl class="row low-gutters align-items-center fz-05">
                                    <dt class="col-auto">授業</dt>
                                    <dd class="col font-V7MG-EB">1対1</dd>
                                  </dl>
                                  <dl class="row low-gutters fz-05">
                                    <dt class="col-auto">時間</dt>
                                    <dd class="col font-V7MG-EB">50分(準備時間含む)</dd>
                                  </dl>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr class="btsd bc-co">
                          <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                            <p class="lh-105 fz-05">ことば､絵､など様々な角度から一つの概念を伝えていきます｡視覚教材を用いて､ことばに対するイメージがわかない子どもでも､対話を通して一緒にその概念を獲得していく環境を作っていくことで､“わかる＂を作り出していきます｡</p>
                            <div class="row low-gutters">
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-1-1@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-1-1@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-1-1@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-1-2@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-1-2@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-1-2@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-1-3@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-1-3@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-1-3@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-1-4@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-1-4@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-1-4@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="col-sm-6 mt-405 mt-sm-0">
                        <div class="rounded-sm ovh bg-wht bsd bc-co effect-neumo">
                          <div class="row no-gutters align-items-center">
                            <div class="col-lg-auto">
                              <h2 class="fz-4 lh-103 bg-gray-light brsd-lg bbsd bb-lg-0 bc-co clr-co ls-0 px-3 py-405 d-lg-inline-block text-center font-V7MG-EB">教科学習サポートコース<small class="d-block smaller-3">〜子どもたちの分からないを解消する〜</small></h2>
                            </div>
                            <div class="col-lg py-3">
                              <div class="row no-gutters justify-content-center">
                                <div class="col-auto">
                                  <dl class="row low-gutters align-items-center fz-05">
                                    <dt class="col-auto">対象</dt>
                                    <dd class="col font-V7MG-EB">小学校高学年/中高生</dd>
                                  </dl>
                                  <dl class="row low-gutters align-items-center fz-05">
                                    <dt class="col-auto">授業</dt>
                                    <dd class="col font-V7MG-EB">1対1</dd>
                                  </dl>
                                  <dl class="row low-gutters fz-05">
                                    <dt class="col-auto">時間</dt>
                                    <dd class="col font-V7MG-EB">50分(準備時間含む)</dd>
                                  </dl>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr class="btsd bc-co">
                          <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                            <p class="lh-105 fz-05">ことば､絵､など様々な角度から一つの概念を伝えていきます｡視覚教材を用いて､ことばに対するイメージがわかない子どもでも､対話を通して一緒にその概念を獲得していく環境を作っていくことで､“わかる＂を作り出していきます｡</p>
                            <div class="row low-gutters">
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-2-1@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-2-1@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-2-1@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-2-2@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-2-2@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-2-2@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-2-3@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-2-3@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-2-3@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                              <picture class="col h-5rem h-xl-7rem">
                                <source srcset="/img/lp/t-2-4@0.5x.webp" media={Constants.mdXl} />
                                <source srcset="/img/lp/t-2-4@0.33x.webp" media={Constants.mdSm} />
                                <img loading="lazy" src="/img/lp/t-2-4@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 col-sm-9 col-md-12 col-lg-6">
        <a href="https://circle-o.jp/app/#/teacher-term-of-use-page?building=co01" target="_blank" class:list={[Constants.mtLg, 'd-block w-100 fz-xl fz-md-3xl fz-xl-4xl px-3 px-sm-4 py-2 clr-wht hvr-bg-red hvr-clr-red rounded-xl btn-neumo-co bsd bc-wht bw-02r']}>
          <div class="h-100 d-flex flex-wrap justify-content-center align-items-center">
            <div class="font-V7MG-EB">先生に申込む</div>
            <div class="ml-2 mt-025"><i class="clr-wht fas fa-user-edit"></i></div>
          </div>
        </a>
        <h3 class="clr-blk font-V7MG-EB fz-xsm text-center mx-n5"><strong class="clr-co mb-1 fz-5 ls-n005 d-block">👩‍🏫 ご不明な点はご相談ください 👨‍💻</strong></h3>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2ic-6ac4hjkop08R8qHuBzrj2xttvYzw0-ovpD-xzm7PV-w/viewform" target="_blank" class="text-center mt-1 tdu ff-B d-block">お問い合わせはコチラから</a>
      </div>
      <div class="col-11 col-sm-9 col-md-12">
        <div class="d-flex justify-content-center">
          <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
            <span class="d-block mb-2 fz-sm clr-co">User's Voice</span>
            <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n004 ml-n1">授業開始までの流れ 😊 <span class="position-relative t-n1">💬</span></strong></span>
          </h2>
        </div>
      </div>
      <div class="col-12">
        <div class={Constants.swipe}>
          <div class={Constants.swipeWrap}>
            <ul class:list={[Constants.mtSec,Constants.swipeUl]}>
              <li class="col-auto col-md-12">
                <div class:list={['clr-theme rounded w-flow w-lg-100 d-grid',Constants.gapDef]}>
                  <figure class="form-row row-xl justify-content-center fz-5">
                    <div class="col-auto">
                      <i class="clr-co far fa-user-plus"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">WEBよりお申込み</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk"><a href="">お申込ページ</a>より､必要な情報をご記入ください｡入力項目に具体的にお答えいただくと､面談がよりスムーズになります｡</p>
                            <ul class="liKome fz-025 lh-102">
                              <li class="d-block mt-2"><a href="https://twitter.com/circleo_" target="_blank" class="clr-co">授業の様子は公式twitter<i class="fab fa-twitter"></i></a>から</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="clr-co far fa-user-headset"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">オンライン面談</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk">お申込み理由､ご希望のコース､担当可能学年などを伺います｡また､先生の活動内容についての疑問点は面談にてご相談ください｡</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="clr-co far fa-bell-on"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">合格可否の通知</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk">面談後3営業日以内に結果通知をいたします｡</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="clr-co far fa-comment-pen"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">導入研修</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk">他の先生の授業見学､マニュアルの理解など授業実施にあたって必要な研修を行います｡</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="clr-co far fa-handshake-simple"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">生徒とマッチング面談</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk">生徒から面談希望があった方は､20分間の事前面談を行います｡</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="clr-co far fa-person-chalkboard"></i>
                    </div>
                    <div class="col">
                      <div class:list={['d-grid',Constants.gapDef]}>
                        <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                        <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">担当授業スタート</h3>
                        <div class="form-row align-items-center justify-content-center gap-1">
                          <div class="col-auto">
                            <div class="row no-gutters justify-content-center align-items-end">
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                              </div>
                              <div class="col-auto">
                                <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-lg-3">
                            <p class="fz-05 ff-L clr-blk">面談の結果､正式に担当希望があればマッチング決定｡受講日､受講頻度を担当生徒と相談の上､決定して頂きます｡</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </figure>
                </div>
              </li>
            </ul>
          </div>
          <AppSwipeFinger />
        </div>
      </div>
    </div>
    <section class:list={[Constants.mtLg,Constants.pyLg,Constants.mxNmain, 'bg-wht']}>
      <div class:list={[Constants.pxMain]}>
        <div class="d-flex justify-content-center">
          <h2 class:list={['clr-blk font-V7MG-EB lh-1']}>
            <span class="d-block mb-2 fz-sm clr-co">User's Voice</span>
            <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n004 ml-n1">先生たちの声 😊 <span class="position-relative t-n1">💬</span></strong></span>
          </h2>
        </div>
        <div class:list={["mt-2",Constants.swipe]}>
          <div class:list={[Constants.swipeWrap]}>
            <ul class:list={[Constants.swipeUl]}>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                  <div class="px-3 py-4 ff-B">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                          <img loading="lazy" src="/img/prof/v-1@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE O まゆみ先生" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="col">
                        <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">まゆみ</strong>先生</span><br>担当：小学校低学年（3人）</h3>
                      </div>
                    </div>
                    <p class="lh-105 fz-1 mt-2">自由に学べる場｡自分の経験を､これからの日本を生きていく若い子供たちに伝えられる､未来につなげることを経験できる貴重な機会です｡</p>
                    <Modal client:load id="dialog-1">
                      <div class="d-grid gap-3">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                              <img loading="lazy" src="/img/prof/v-1@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE O まゆみ先生" class="w-100 h-100 of-cover">
                            </picture>
                          </div>
                          <div class="col">
                            <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">まゆみ</strong>先生</span><br>担当：小学校低学年（3人）</h3>
                          </div>
                        </div>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">働こうと思ったきっかけは？</h4></dt>
                          <dd><p class="fz-1">しりあい､友達､に教えてた経験がある｡元々聾学校の教員｡教えるのが好き｡他の仕事が忙しいけど､教えたいっていう気持ちがのこっていたから､オンラインでろう難聴児に合えるのが嬉しい｡だから始めた｡自分の今のライフスタイルに合わせて教えられる場だと嬉しい｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">やりがいはなんですか？</h4></dt>
                          <dd><p class="fz-1">50分授業終わった後いつも楽しい！やる前の準備は大変｡時間が作りにくい｡でもオンラインでやった後いつも楽しいと思う｡分かって楽しかったと思ってもらえるのがやりがい｡分かったという反応があると嬉しい｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">サークルオーを一言で表すと？</h4></dt>
                          <dd><p class="fz-1">自由に学べる場｡理由：①それぞれ必要な情報保障ができる｡手話や口話など｡自分の言葉分かりやすい手話とか言語を使って居自由に学べる場｡②生徒が何を学びたいと決めてできる｡カリキュラムがないから､自由に学べる｡楽しいが優先になって行動できる｡楽しんでもらえる</p></dd>
                        </dl>
                      </div>
                    </Modal>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                  <div class="px-3 py-4 ff-B">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                          <source srcset="/img/prof/v-2@0.5x.webp" media={Constants.mdXl} />
                          <img loading="lazy" src="/img/prof/v-2@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="いなんちょー先生" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="col">
                        <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">いなんちょー</strong>先生</span><br>担当：小学校低学年（1人）</h3>
                      </div>
                    </div>
                    <p class="lh-105 fz-1 mt-2">自分自身も勉強を頑張っていたあの頃を思い出しながら取り組んでいます｡自分の経験が子どもたちにとって価値になる｡それが嬉しいです｡</p>
                    <Modal client:load id="dialog-2">
                      <div class="d-grid gap-3">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                              <source srcset="/img/prof/v-2@0.5x.webp" media={Constants.mdXl} />
                              <img loading="lazy" src="/img/prof/v-2@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="いなんちょー先生" class="w-100 h-100 of-cover">
                            </picture>
                          </div>
                          <div class="col">
                            <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">いなんちょー</strong>先生</span><br>担当：小学校低学年（1人）</h3>
                          </div>
                        </div>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">働こうと思ったきっかけは？</h4></dt>
                          <dd><p class="fz-1 h-50rem">元々前職IT企業で働いてて､都合でやめた｡ふらふらしてるときに､たまたま奥さんがサークルオーについて知っていて､どう？と提案された｡空いてる時間を使って働けるのがすごい良い｡奥さんの紹介から｡教育にかかわっていたわけではない｡大学でもITだったから､教えることは学んでない｡勉強が好きだから教えられそう？と思った｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">やりがいはなんですか？</h4></dt>
                          <dd><p class="fz-1">数学と物理を教える｡教えて分かるようになったっていうのがうれしい｡また､高校生だから大学とか将来を考えるタイミング｡自分の知識を活かせて指導できる（持っている知識を提供できる）のもやりがい｡ろう難聴の大学生ってやっぱり少ない､情報も不足してるし困る｡壁にぶつかっちゃう｡自分の経験が参考になるのがすごくうれしい｡将来の後輩､若者たちの将来を明るくできる､背中をプッシュできるのがやりがい｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">サークルオーを一言で表すと？</h4></dt>
                          <dd><p class="fz-1">ろうの子供のパイプ的な存在｡理由は､サークルオーにはいろんな生徒がいる｡小中高など年齢様々｡授業も普通にやるけど､勉強だけじゃなくて､手話の知識とか人間関係とか心を育てる活動もやっているように思う｡手話での情報保障がない子供たちの為にもいい機関｡子供たちにとってもいい方針｡社会性が身に着く｡勉強を教えるだけじゃない｡子供にとって､ろうのロールモデルを見るのは大事｡そういった存在が周りにない人でもここに来たらいる｡手話を使うろうの人たちを結びつけるパイプ的存在｡</p></dd>
                        </dl>
                      </div>
                    </Modal>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                  <div class="px-3 py-4 ff-B">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                          <source srcset="/img/prof/v-3@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/prof/v-3@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/prof/v-3@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="えみ先生" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="col">
                        <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">えみ</strong>先生</span><br>担当：高校生（2人）</h3>
                      </div>
                    </div>
                    <p class="lh-105 fz-1 mt-2">子どもにとっても､保護者にとっても安心できる場を提供｡未経験でも教育の知識がなくても問題ありません｡一緒に成長してみませんか？</p>
                    <Modal client:load id="dialog-3">
                      <div class="d-grid gap-3">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                              <source srcset="/img/prof/v-3@0.5x.webp" media={Constants.mdXl} />
                              <source srcset="/img/prof/v-3@0.33x.webp" media={Constants.mdSm} />
                              <img loading="lazy" src="/img/prof/v-3@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="えみ先生" class="w-100 h-100 of-cover">
                            </picture>
                          </div>
                          <div class="col">
                            <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">えみ</strong>先生</span><br>担当：高校生（2人）</h3>
                          </div>
                        </div>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">働こうと思ったきっかけは？</h4></dt>
                          <dd><p class="fz-1">地元群馬県に住んでいた時はろうの子供がいっぱいいたけど､大学院では子供と接する機会がなかった｡手話を活かせる場所を調べた時､Twitterで見つけて申し込んだ｡SNSから情報を得る先生多数｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">やりがいはなんですか？</h4></dt>
                          <dd><p class="fz-1">学校の宿題でここが分からないって言ってくれた時､手話で教えたらOK！ってすぐ理解できていたとこ｡子供は健聴学校に通っていて手話使う機会がなく､口話だと得られる情報が少なくなってしまう｡どうしても手話の方が分かりやすいという子供も多数｡聞き漏らしちゃうこともあるから､手話を使って教えた方が意思疎通できる｡それが嬉しかった｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">サークルオーを一言で表すと？</h4></dt>
                          <dd><p class="fz-1">聞こえない子供がありのままでいられる場所｡理由：今まで4人担当していて､手話や声バラバラの譲歩保障｡授業を始める前に､生徒に合う先生が探せる｡学校の場合は先生決まってるから先生選べないけど､ここだったら選べる｡楽に襲われる｡いい環境｡</p></dd>
                        </dl>
                      </div>
                    </Modal>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                  <div class="px-3 py-4 ff-B">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                          <img loading="lazy" src="/img/prof/v-4@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="col">
                        <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">しおね</strong>先生</span><br>担当：高校生（1人）</h3>
                      </div>
                    </div>
                    <p class="lh-105 fz-1 mt-2">子どもたちが､ありのままの自分で居られる場所を提供できる｡自分にとっても子供たちにとっても良い環境をみなさんと作っていきたいです｡</p>
                    <Modal client:load id="dialog-4">
                      <div class="d-grid gap-3">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <picture class="h-5rem w-5rem d-block rounded-circle z-1 ovh">
                              <img loading="lazy" src="/img/prof/v-4@0.33x.webp" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                            </picture>
                          </div>
                          <div class="col">
                            <h3 class="fz-2xs ls-n001 lh-105"><span class="font-V7MG-EB"><strong class="bigger-2 clr-blk">しおね</strong>先生</span><br>担当：高校生（1人）</h3>
                          </div>
                        </div>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">働こうと思ったきっかけは？</h4></dt>
                          <dd><p class="fz-1">しりあい､友達､に教えてた経験がある｡元々聾学校の教員｡教えるのが好き｡他の仕事が忙しいけど､教えたいっていう気持ちがのこっていたから､オンラインでろう難聴児に合えるのが嬉しい｡だから始めた｡自分の今のライフスタイルに合わせて教えられる場だと嬉しい｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">やりがいはなんですか？</h4></dt>
                          <dd><p class="fz-1">50分授業終わった後いつも楽しい！やる前の準備は大変｡時間が作りにくい｡でもオンラインでやった後いつも楽しいと思う｡分かって楽しかったと思ってもらえるのがやりがい｡分かったという反応があると嬉しい｡</p></dd>
                        </dl>
                        <dl class="d-grid gap-1 clr-gray-dark">
                          <dt><h4 class="fz-2 clr-co">サークルオーを一言で表すと？</h4></dt>
                          <dd><p class="fz-1">自由に学べる場｡理由：①それぞれ必要な情報保障ができる｡手話や口話など｡自分の言葉分かりやすい手話とか言語を使って居自由に学べる場｡②生徒が何を学びたいと決めてできる｡カリキュラムがないから､自由に学べる｡楽しいが優先になって行動できる｡楽しんでもらえる</p></dd>
                        </dl>
                      </div>
                    </Modal>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <AppSwipeFinger />
      </div>
    </section>
    <section class:list={["row justify-content-center"]}>
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
            <span class="d-block mb-2 fz-sm clr-co">FAQ</span>
            <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-0 ml-n1">🤔よくあるご質問💡</strong></span>
          </h2>
        </div>
        <h3 class:list={[Constants.mtSm, 'clr-co fz-4 font-V7MG-EB lh-1 text-center']}>👨‍🏫先生希望の方からのご質問👩🏻‍🎓</h3>
        <div class:list={["mt-2 box-tl-q",Constants.swipe]}>
          <div class:list={[Constants.swipeWrap]}>
            <ul class:list={[Constants.swipeUl]}>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">1回(コマ)の授業時間は何分ですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">原則1コマ50分で､時間配分は先生にお任せしています｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">保護者とはどこまでやり取りしたらいいですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">基本的に授業に関わるやりとりのみお願いしております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業で使う教材はどんなものですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ことば教材や字幕付き映像教材などこちらで準備しているものがあります｡先生によっては保護者と相談して教材を別途購入し､それを使っているケースもございます｡教材購入費は先生､生徒がそれぞれ自己負担になっております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">週に何回授業を実施しますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">平均週1回程度ですが､中には週に2回実施する方もいらっしゃいます｡保護者と相談して実施頻度は決めて頂きます｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">担当生徒はどのように決まりますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒が希望の先生を指名して､20分間の”セレクト面談”を実施します｡その後､双方同意の元､担当生徒が決定します｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">生徒との相性が合わない場合､変えられますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒より変更希望があった場合のみペアの変更が可能です｡生徒に関してトラブルやご相談がある場合は､運営が間に入り対応をいたします｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">就活や家庭の事情などで一時休止できますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">運営と相談の上､休止は可能です｡ご都合に合わせて稼働を決めて頂けます｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">手話があまり得意ではないのですが､先生として活動はできますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒のコミュニケーション手段に合わせて先生をマッチングいたしますので､手話レベルを考慮した上で生徒をご紹介いたします｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">マニュアルや研修制度はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業を担当して頂く前に他の先生の授業を見学して頂きます｡授業に際して必要な知識をマニュアルにまとめております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">困った時に相談できる場はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">サークルオー運営とは公式LINEでいつでも連絡が取れます｡些細な事からご遠慮なく何でもご相談ください｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">他の先生から話を聞いてみたいのですが､そのような制度はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ご希望があれば､他の先生の授業見学､または話を聞くことは可能です｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">個別授業のみですか？集団授業はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">現在は個別指導を担当いただいています｡今後集団指導も取り入れていく予定ですので､チャレンジしたい方は大歓迎です｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">自身の都合で授業をお休みしたい場合はどうしたらいいですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">日程変更は可能です｡まずは保護者に先生公式LINEからご連絡いただき､その後予約システムからキャンセル手続きを行っていただきます｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">活動日や休日など､どのように設定したらいいですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">予約管理システム内で活動可能日を登録いただきますので､ご自身のスケジュールに合わせてご登録頂くことが可能です｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">どのように保護者にその日の授業内容を報告したらいいですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">予約システムにて日報という機能がございます｡日報にてその日の授業内容を報告していただきます｡それを基に給与計算を行いますので､提出必須になっております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">子どもは最大何人まで担当できますか？また最低何人担当ですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">先生の可能な範囲で担当して頂くことは可能です｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">他の先生の授業を見学してから申し込みを決めることはできますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">可能です｡ご希望の方は問い合わせフォームより「見学希望」と記載してください｡運営より日程調整を行います｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業の準備には､給与が出ますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業準備､授業実施､授業後の日報提出含めて､ 1200円/コマ(授業報酬)として報酬をお支払いいたします｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業を実施する場所はどこでも大丈夫ですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">子どもが授業に集中して参加できる場所であれば､場所は問いません｡ズームの背景設定などして頂けると良いと思います｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">働いている人同士が交流する場はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">現在先生同士が悩み相談をし合う場を用意しております｡授業に関する疑問や不安などご相談頂けます｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">何かあった時に相談できる場所はありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">サークルオー運営公式LINEはもちろんのこと､新しい先生が慣れるまでは経験のある先生とペアを組み､困ったことがあったらそちらに質問できるような制度を設けております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">勤務開始にあたって用意するものはありますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">報酬のお支払い銀行口座がGMOあおぞら銀行になります｡該当口座をお持ちで無い場合は､初回の振り込みまでに口座開設をお願いしております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業時間配分の例を聞きたいです｡</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">45分間は子供との授業､残り5分間は保護者様とその日の振り返りや次回授業の相談の時間として頂きます｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">具体的にどんなことを教えますか？教科だけではなく､スキルを教える授業もOKですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">対話型ことば学習コースと個別学習サポートコースから担当可能なコースを選択頂きます｡個別学習サポートコースの場合は､担当可能な教科､学年を事前に決めて頂き､その範囲で担当生徒を決定いたします｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">教育の知識がなくても大丈夫ですか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">スキルや経験は問いません｡活動の中で試行錯誤できる方を歓迎しております｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業カリキュラム（授業構成）はどのように組み立てれば良いでしょうか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">初回授業にて確認したご家庭のニーズを元に授業の計画を立てていただきます｡計画の立て方について､運営に相談することも可能です｡</p>
                  </div>
                </div>
              </li>
              <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                  <div class="px-3 py-4">
                    <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業で使用するズームは自分で用意しますか？</h4>
                    <p class="lh-105 mt-2 fz-2xs fz-xl-xs">先生のズームアカウントを使用して授業を実施して頂きます｡使用するズームアカウントは､無料プランで構いません｡</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <AppSwipeFinger />
      </div>
      <div class="col-11 col-sm-9 col-md-12 col-lg-6">
        <a href="https://circle-o.jp/app/#/teacher-term-of-use-page?building=co01" target="_blank" class:list={[Constants.mtLg, 'd-block w-100 fz-xl fz-md-3xl fz-xl-4xl px-3 px-sm-4 py-2 clr-wht hvr-bg-red hvr-clr-red rounded-xl btn-neumo-co bsd bc-wht bw-02r']}>
          <div class="h-100 d-flex flex-wrap justify-content-center align-items-center">
            <div class="font-V7MG-EB">先生に申込む</div>
            <div class="ml-2 mt-025"><i class="clr-wht fas fa-user-edit"></i></div>
          </div>
        </a>
        <h3 class="clr-blk font-V7MG-EB fz-xsm text-center mx-n5"><strong class="clr-co mb-1 fz-5 ls-n005 d-block">👩‍🏫 ご不明な点はご相談ください 👨‍💻</strong></h3>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2ic-6ac4hjkop08R8qHuBzrj2xttvYzw0-ovpD-xzm7PV-w/viewform" target="_blank" class="text-center mt-1 tdu ff-B d-block">お問い合わせはコチラから</a>
      </div>
    </section>
    </div>
  </div>
</DefaultLayout>