---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import SpTel from '@/components/SpTel.vue'
import SmoothScroll from '@/components/SmoothScroll.vue'
import AppTeachers from '@/components/AppTeachers.vue'
import AppSwipeFinger from '@/components/AppSwipeFinger.astro'
import { Constants } from '@/utils/constants.ts'

const meta = {
  title: 'ろう児・難聴児のオンライン対話学習コミュニティ｢Circle O - サークルオー｣',
  description: 'コロナ禍における｢新しい生活様式｣の普及によって生活にマスクは必需品となりました。この｢口が見えない｣マスクを多くの人が着用することで､話しかけられていることにも気づくことができず､先生やお友達とのコミュニケーションが取りにくい状況になった子どもたちがいます。オンライン対話コミュニティcircle O(サークルオー)が､そんな状況にある､ろう児・難聴児のご家庭へオンライン授業の無償提供を行います。子どもたちの｢学びを止めない｣ために､ぜひご活用ください。',
  ogImage: '/img/global/ogi/default.jpg',
  titleSuffix: false
}
---
<DefaultLayout { meta }>
  <div class="position-relative">
    <figure>
      <img id="ils-5" src="/img/global/illust/5.svg" style="aspect-ratio:4/7" aria-hidden="true" alt="" class="w-2rem w-sm-3rem w-lg-5rem w-xl-6rem w-2xl-7rem rotate-15 position-absolute z-1">
      <img id="ils-6" src="/img/global/illust/6.svg" style="aspect-ratio:27/23" aria-hidden="true" alt="" class="w-3rem w-sm-5rem w-lg-9rem w-xl-12rem w-2xl-14rem rotate-n15 position-absolute z-1">
      <img id="ils-9" src="/img/global/illust/9.svg" style="aspect-ratio:20/17" aria-hidden="true" alt="" class="w-5rem w-sm-9rem w-lg-15rem w-xl-17rem w-2xl-18rem rotate-8 position-absolute z-1">
      <img id="ils-8" src="/img/global/illust/8.svg" style="aspect-ratio:20/17" aria-hidden="true" alt="" class="w-2rem w-sm-3rem w-lg-5rem w-xl-7rem w-2xl-8rem rotate-n8 position-absolute z-1">
      <img id="ils-7" src="/img/global/illust/7.svg" style="aspect-ratio:48/41" aria-hidden="true" alt="" class="w-3rem w-sm-5rem w-lg-8rem w-xl-12rem w-2xl-13rem rotate-n8 position-absolute z-1">
    </figure>
    <h1 class="text-center clr-blk fz-tl font-V7MG-EB lh-1 pt-3 pb-405">
      <span class="ls-n0105 ls-n01 bigger-lg strong ml-n2 mb-2 d-block clr-co">
        <span class="mr-2">話</span>そう<span class="ml-1">､</span><span class="mr-2 mr-xl-3">学</span>ぼう!
      </span>
      <span class="d-block my-3 my-md-4"><span class="ls-n01 mr-1">オンライン</span>対話授業</span>
      <strong class="d-block ls-n01">｢サークルオー｣<span class="ls-n01">スタート👨‍💻</span></strong>
    </h1>
  </div>
  <div class="mx-n2 position-relative">
    <ul class="row no-gutters form-sm-row justify-content-between justify-content-sm-center">
      <li class="col-auto">
        <div class="row no-gutters justify-content-center align-items-center">
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-l.svg">
          </div>
          <div class="col-auto">
            <h2 class:list={['clr-blk font-V7MG-EB text-center lh-1 lh-md-102', Constants.fzLg]}><span class="fz-2xs fz-lg-xs clr-co d-block mb-025">無償提供<br>授業回数</span><span class="ls-n01">2453<small class="font-V7MG-B fz-2xs"> 回以上</small></span></h2>
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-r.svg">
          </div>
        </div>
      </li>
      <li class="col-auto">
        <div class="row no-gutters justify-content-center align-items-center">
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-l.svg">
          </div>
          <div class="col-auto">
            <h2 class:list={['clr-blk font-V7MG-EB text-center lh-1 lh-md-102', Constants.fzLg]}><span class="fz-2xs fz-lg-xs clr-co d-block mb-025">授業<br>満足度</span>97<small class="font-V7MG-B fz-xs">%</small></h2>
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-r.svg">
          </div>
        </div>
      </li>
      <li class="col-auto">
        <div class="row no-gutters justify-content-center align-items-center">
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-l.svg">
          </div>
          <div class="col-auto">
            <h2 class:list={['clr-blk font-V7MG-EB text-center lh-1 lh-md-102', Constants.fzLg]}><span class="fz-2xs fz-lg-xs clr-co d-block mb-025">登録<br>生徒数</span>69<small class="font-V7MG-B fz-xs">人</small></h2>
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-2rem w-sm-105rem w-md-2rem w-xl-3rem" src="/img/global/win-r.svg">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class:list={['row justify-content-center', Constants.mbLg]}>
    <div class="col-10 col-sm-6 col-md-7 col-lg-5 col-2xl-4 mt-5">
      <img src="/img/global/illust/4-2.svg" style="aspect-ratio:371/316" alt="ろう･難聴児に双方向型オンライン対話授業を" class="w-100 pr-3">
      <h3 class="font-V7MG-EB text-center lh-104 clr-co fz-md-sm fz-xl-md mt-n5 mt-md-n6 pl-2">ろう･難聴児に双方向型<br>｢<strong class="clr-red">オンライン対話授業</strong>｣を</h3>
    </div>
    <div class="col-11 col-sm-10">
      <h2 class:list={['text-center clr-blk font-V7MG-EB lh-1', Constants.mtLg]}>
        <span class="d-block mb-2 mb-xl-3 fz-tl clr-co">広げよう!</span>
        <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-0">👩‍🎓ろう･難聴児の学びを💮</strong></span>
      </h2>
      <div class:list={[Constants.mtP, 'embed-responsive embed-responsive-16by9 rounded ovh z-1 position-relative bsd bc-co bw-05r bg-co btn-neumo']}>
        <iframe loading="lazy" class="w-100 rounded ovh"  src="https://www.youtube-nocookie.com/embed/4-hL2XI3_Dw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="row low-gutters justify-content-center align-items-center mt-2">
        <div class="col-auto">
          <h3 class="small-2xs ls-0 clr-blk">powerded by <a href="https://silentvoice.co.jp/" class="clr-sv small-xs ml-1" target="_blank">Silent Voice</a></h3>
        </div>
        <div class="col-auto">
          <img class="w-1rem" loading="lazy" src="/img/global/logo-sv-port.svg" style="aspect-ratio:13/22" alt="Silent Voice">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-10">
      <div class:list={[Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <ul class:list={['gap-2',Constants.swipeUl]}>
            <li class:list={["col-10 col-sm-7 col-md-5 col-lg-3",Constants.mtListTeacher]}>
              <div class="rounded-sm ovh bg-wht bsd bc-wht bw-04r effect-neumo">
                <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                  <h2 class="fz-5 lh-1 mx-n2 mt-3 ls-n001 clr-co font-V7MG-EB text-center"><span class="mb-2 fz-2xs bg-co clr-wht px-2 py-1 rounded d-inline-block text-left position-absolute topLeft z-1 ml-3 ml-md-4 mt-2">point.1</span>自宅でオンライン受講</h2>
                  <div class="form-row align-items-center justify-content-center">
                    <div class="col-auto">
                      <div class="row no-gutters justify-content-center align-items-end">
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                        </div>
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-lg-12 mt-lg-3">
                      <p class="lh-105">いつでも、どこにいても、授業を受けることができる。自宅で受けれるので、子どもの変化を直近で知ることができる</p>
                    </div>
                  </div>
                </div>
                <picture class="h-12rem h-xl-14rem d-block rounded-bottom-sm ovh">
                  <source srcset="/img/lp/scene/4@0.5x.webp" media={Constants.mdXl} />
                  <source srcset="/img/lp/scene/4@0.33x.webp" media={Constants.mdSm} />
                  <img loading="lazy" src="/img/lp/scene/4@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                </picture>
              </div>
            </li>
            <li class:list={["col-10 col-sm-7 col-md-5 col-lg-3",Constants.mtListTeacher]}>
              <div class="rounded-sm ovh bg-wht bsd bc-wht bw-04r effect-neumo">
                <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                  <h2 class="fz-5 lh-1 mx-n2 mt-3 ls-n001 clr-co font-V7MG-EB text-center"><span class="mb-2 fz-2xs bg-co clr-wht px-2 py-1 rounded d-inline-block text-left position-absolute topLeft z-1 ml-3 ml-md-4 mt-2">point.2</span>授業は得意な手段で</h2>
                  <div class="form-row align-items-center justify-content-center">
                    <div class="col-auto">
                      <div class="row no-gutters justify-content-center align-items-end">
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                        </div>
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-lg-12 mt-lg-3">
                      <p class="lh-105">手話、口話、筆談、子どもが一番わかる手段で授業を。視覚的な情報の増加で、ことばや新しい概念に触れてもらいます。</p>
                    </div>
                  </div>
                </div>
                <picture class="h-12rem h-xl-14rem d-block rounded-bottom-sm ovh">
                  <source srcset="/img/lp/scene/9@0.5x.webp" media={Constants.mdXl} />
                  <source srcset="/img/lp/scene/9@0.33x.webp" media={Constants.mdSm} />
                  <img loading="lazy" src="/img/lp/scene/9@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                </picture>
              </div>
            </li>
            <li class:list={["col-10 col-sm-7 col-md-5 col-lg-3",Constants.mtListTeacher]}>
              <div class="rounded-sm ovh bg-wht bsd bc-wht bw-04r effect-neumo">
                <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                  <h2 class="fz-5 lh-1 mx-n2 mt-3 ls-n001 clr-co font-V7MG-EB text-center"><span class="mb-2 fz-2xs bg-co clr-wht px-2 py-1 rounded d-inline-block text-left position-absolute topLeft z-1 ml-3 ml-md-4 mt-2">point.3</span>レベルに合わせ1対1</h2>
                  <div class="form-row align-items-center justify-content-center">
                    <div class="col-auto">
                      <div class="row no-gutters justify-content-center align-items-end">
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                        </div>
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-lg-12 mt-lg-3">
                      <p class="lh-105">子どもの性格、言語、理解力が考慮された個別授業を。個別だから先生にも相談しやい！安心して受講できます。</p>
                    </div>
                  </div>
                </div>
                <picture class="h-12rem h-xl-14rem d-block rounded-bottom-sm ovh">
                  <source srcset="/img/lp/scene/1@0.5x.webp" media={Constants.mdXl} />
                  <source srcset="/img/lp/scene/1@0.33x.webp" media={Constants.mdSm} />
                  <img loading="lazy" src="/img/lp/scene/1@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                </picture>
              </div>
            </li>
            <li class:list={["col-10 col-sm-7 col-md-5 col-lg-3",Constants.mtListTeacher]}>
              <div class="rounded-sm ovh bg-wht bsd bc-wht bw-04r effect-neumo">
                <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                  <h2 class="fz-5 lh-1 mx-n2 mt-3 ls-n001 clr-co font-V7MG-EB text-center"><span class="mb-2 fz-2xs bg-co clr-wht px-2 py-1 rounded d-inline-block text-left position-absolute topLeft z-1 ml-3 ml-md-4 mt-2">point.3</span>広がる!子どもの世界</h2>
                  <div class="form-row align-items-center justify-content-center">
                    <div class="col-auto">
                      <div class="row no-gutters justify-content-center align-items-end">
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                        </div>
                        <div class="col-auto">
                          <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-lg-12 mt-lg-3">
                      <p class="lh-105">ASL（アメリカ手話）、ロールモデル授業など、多様な先生から多くの発見が。全国にいる共に学べるコンテンツも用意。</p>
                    </div>
                  </div>
                </div>
                <picture class="h-12rem h-xl-14rem d-block rounded-bottom-sm ovh">
                  <source srcset="/img/lp/scene/1@0.5x.webp" media={Constants.mdXl} />
                  <source srcset="/img/lp/scene/1@0.33x.webp" media={Constants.mdSm} />
                  <img loading="lazy" src="/img/lp/scene/1@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <AppSwipeFinger />
    </div>
    <div class="col-11 col-sm-9 col-lg-7">
      <h2 class:list={['text-center clr-blk font-V7MG-EB lh-1', Constants.mtLg]}>
        <span class="d-block mb-2 mb-xl-3 fz-tl clr-co">先生は未来の自分!</span>
        <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n005 ls-lg-0">👨‍🏫各界の先生が世界を拓く👩‍🏫</strong>
      </h2>
      <p class:list={['fz-xsm fz-lg-md', Constants.mtP]}>学校の先生､弁護士､海外在住､スポーツ選手などさまざまなジャンルで活躍する先生が在籍しています。お子さまのコミュニケーション手段･学習言語･文化･聴力等といったろう･難聴児における多様性の重点項目を考慮した"授業"を提供しています｡</p>
    </div>
    <div class="col-12">
      <div class:list={['mt-2',Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <AppTeachers client:load />
        </div>
      </div>
      <AppSwipeFinger />
      <div class:list={['position-relative', Constants.mtLg, Constants.mxNmain]}>
        <div class="row justify-content-center align-items-center position-sm-absolute z-1 topRight mb-405 mb-sm-6 mx-1 mt-md-n6 mt-lg-n2 mt-xl-4 mr-sm-n3 mr-md-4 mr-lg-8 mr-xl-9 h-sm-11rem h-md-20rem">
          <div class="col-11 col-sm-auto ml-sm-auto mr-sm-405 mr-2xl-9 w-sm-32rem w-lg-40rem w-xl-45rem w-2xl-50rem">
            <h2 class="text-center clr-blk font-V7MG-EB lh-1">
              <span class="d-block mb-2 mb-xl-3 fz-tl clr-co">手軽に授業を予約!</span>
              <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-0">🙆‍♂️授業サポートの充実🙆</strong></span>
            </h2>
            <p class:list={['fz-xsm fz-lg-md', Constants.mtP]}>先生の予約から実施内容の確認まで予約管理システムで完結! 困った時のサポート体制も充実｡<small>(Zoomに対応したパソコンWindows Mac と タブレットに対応)</small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-2xl-7 mt-sm-4 mt-md-0">
            <picture class="d-block">
              <source srcset="/img/lp/mock.webp" media={Constants.md2Xl} />
              <source srcset="/img/lp/mock@0.75x.webp" media={Constants.mdXl} />
              <source srcset="/img/lp/mock@0.5x.webp" media={Constants.mdSm} />
              <img loading="lazy" style="aspect-ratio:157/113" src="/img/lp/mock@0.33x.webp" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 col-sm-9 col-lg-7">
      <h2 class:list={[Constants.mtLg, 'text-center clr-blk font-V7MG-EB lh-1 mx-n3']}>
        <span class="d-block mb-2 ls-n005 fz-tl clr-co"><span class="ls-n01">2022</span>年<span class="ls-n01">5</span>月末まで無料</span>
        <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n005 ls-lg-0">聴覚障害のある6歳〜18歳の方</strong></span>
      </h2>
      <p class:list={[Constants.mtP, 'fz-xsm fz-lg-md']}>インターネット環境があれば､いつでもどこからでも授業を受けることができます。全国の皆様からのご応募お待ちしております｡</p>
      <h3 class:list={[Constants.mtP, 'font-V7MG-EB clr-co fz-xsm fz-lg-md pb-205 text-md-center']}>オンライン授業に必要なもの</h3>
    </div>
    <div class="col-11 col-sm-9 col-md-12 col-lg-9 col-2xl-7">
      <ul class="form-row">
        <li class="col-md-4 mt-1">
          <div class="form-row flex-nowrap align-items-center align-items-md-start">
            <div class="col-auto">
              <i class="clr-red fz-3xl fas fa-wifi"></i>
            </div>
            <div class="col">
              <h4 class="font-V7MG-EB clr-blk fz-2xs">インターネット環境</h4>
              <p class="fz-2xs lh-102 mt-1">インターネット環境の詳細はZoomの公式サイトをご確認ください｡</p>
            </div>
          </div>
        </li>
        <li class="col-md-4 mt-1">
          <div class="form-row flex-nowrap align-items-center align-items-md-start">
            <div class="col-auto">
              <img loading="lazy" src="/img/global/illust/3-1.svg" style="aspect-ratio:72/73" alt="WEBカメラとパソコン" class="w-5rem shadow-light">
            </div>
            <div class="col">
              <h4 class="font-V7MG-EB clr-blk fz-2xs">WEBカメラとパソコン</h4>
              <p class="fz-2xs lh-102 mt-1">動作環境の詳細はZoomの公式サイトをご確認ください。スマホでのご利用はできません｡</p>
            </div>
          </div>
        </li>
        <li class="col-md-4 mt-1">
          <div class="form-row flex-nowrap align-items-center align-items-md-start">
            <div class="col-auto">
              <i class="clr-line fz-4xl ml-1 mr-1 fab fa-line"></i>
            </div>
            <div class="col">
              <h4 class="font-V7MG-EB clr-blk fz-2xs">LINEアカウント</h4>
              <p class="fz-2xs lh-102 ls-n005 mt-1">授業予約の調整､その他連絡事項等はLINE公式アカウントを使用いたします。個人のLINEアカウントを先生/生徒間で交換する必要はありません｡</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <div class:list={[Constants.mtP, Constants.mxNmain]}>
        <div class:list={[Constants.mtLg, 'row no-gutters']}>
          <picture class="col-lg-4 h-14rem h-sm-22rem h-md-25rem h-lg-20rem h-xl-26rem h-2xl-30rem">
            <source srcset="/img/lp/scene/8@0.75x.webp" media={Constants.mdXl} />
            <source srcset="/img/lp/scene/8@0.5x.webp" media={Constants.mdSm} />
            <img loading="lazy" src="/img/lp/scene/8@0.33x.webp" style="aspect-ratio:545/432" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
          </picture>
          <div class="col-md-6 col-lg-4">
            <div class="row no-gutters">
              <picture class="col-6 h-10rem h-sm-12rem h-md-10rem h-xl-13rem h-2xl-15rem">
                <source srcset="/img/lp/scene/9@0.5x.webp" media={Constants.mdXl} />
                <source srcset="/img/lp/scene/9@0.33x.webp" media={Constants.mdSm} />
                <img loading="lazy" src="/img/lp/scene/9@0.15x.webp" style="aspect-ratio:34/27" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
              </picture>
              <picture class="col-6 h-10rem h-sm-12rem h-md-10rem h-xl-13rem h-2xl-15rem">
                <source srcset="/img/lp/scene/3@0.5x.webp" media={Constants.mdXl} />
                <source srcset="/img/lp/scene/3@0.33x.webp" media={Constants.mdSm} />
                <img loading="lazy" src="/img/lp/scene/3@0.15x.webp" style="aspect-ratio:34/27" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
              </picture>
              <picture class="col-6 h-10rem h-sm-12rem h-md-10rem h-xl-13rem h-2xl-15rem">
                <source srcset="/img/lp/scene/5@0.5x.webp" media={Constants.mdXl} />
                <source srcset="/img/lp/scene/5@0.33x.webp" media={Constants.mdSm} />
                <img loading="lazy" src="/img/lp/scene/5@0.15x.webp" style="aspect-ratio:34/27" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
              </picture>
              <picture class="col-6 h-10rem h-sm-12rem h-md-10rem h-xl-13rem h-2xl-15rem">
                <source srcset="/img/lp/scene/4@0.5x.webp" media={Constants.mdXl} />
                <source srcset="/img/lp/scene/4@0.33x.webp" media={Constants.mdSm} />
                <img loading="lazy" src="/img/lp/scene/4@0.15x.webp" style="aspect-ratio:34/27" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
              </picture>
            </div>
          </div>
          <picture class="col-md-6 col-lg-4 h-14rem h-sm-22rem h-md-20rem h-xl-26rem h-2xl-30rem">
            <source srcset="/img/lp/scene/1@0.75x.webp" media={Constants.mdXl} />
            <source srcset="/img/lp/scene/1@0.5x.webp" media={Constants.mdSm} />
            <img loading="lazy" src="/img/lp/scene/1@0.33x.webp" style="aspect-ratio:545/432" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
          </picture>
        </div>
      </div>
    </div>
    <div class="col-11 col-sm-9 col-lg-7">
      <div class="d-flex justify-content-center">
        <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
          <span class="d-block mb-2 fz-sm clr-co">Curriculum</span>
          <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n004">対話授業が君の世界を拓く👩‍👦</strong></span>
        </h2>
      </div>
    </div>
    <div class="col-12">
      <div class:list={["mt-2",Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <ul class:list={[Constants.swipeUl]}>
            <li class:list={[Constants.mtListTeacher, 'col-9 col-sm-12 col-lg-4']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="row no-gutters justify-content-center">
                  <div class="col-sm-5 col-lg-12 bbsd bb-sm-0 brsd-sm br-lg-0 bbsd-lg bc-gray-light">
                    <picture class="d-block h-14rem ovh">
                      <source srcset="/img/lp/curriculum/1@0.75x.webp" media={Constants.mdXl} />
                      <img loading="lazy" src="/img/lp/curriculum/1@0.5x.webp" style="aspect-ratio:228/101" alt="ことばの授業" class="h-100 w-100 of-cover">
                    </picture>
                  </div>
                  <div class="col-10 col-sm py-4 px-sm-5 p-lg-405">
                    <div class="h-100 d-flex align-items-center">
                      <div>
                        <h2 class:list={[Constants.fzLg, 'ls-0 lh-1 clr-blk font-V7MG-EB']}>ことばの授業</h2>
                        <p class:list={[Constants.mtFormRow]}>手話､ことば､絵､など様々な角度から一つの概念を伝えていきます。ことばに対するイメージがわかない子どもでも､対話を通して"わかる, 'lh-105']}を作り出していきます｡</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-9 col-sm-12 col-lg-4']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="row no-gutters justify-content-center">
                  <div class="col-sm-5 col-lg-12 bbsd bb-sm-0 brsd-sm br-lg-0 bbsd-lg bc-gray-light">
                    <picture class="d-block h-14rem ovh">
                      <source srcset="/img/lp/curriculum/2@0.75x.webp" media={Constants.mdXl} />
                      <img loading="lazy" src="/img/lp/curriculum/2@0.5x.webp" style="aspect-ratio:228/101" alt="教科学習授業" class="h-100 w-100 of-cover">
                    </picture>
                  </div>
                  <div class="col-10 col-sm py-4 px-sm-5 p-lg-405">
                    <div class="h-100 d-flex align-items-center">
                      <div>
                        <h2 class:list={[Constants.fzLg, 'ls-0 lh-1 clr-blk font-V7MG-EB']}>教科学習授業</h2>
                        <p class:list={[Constants.mtFormRow, 'lh-105']}>学校の宿題や分からない所を中心に手話などの情報保障付きで学びます。教えるのではなく一緒に考えるコーチのような存在で子どもの学びをサポートしています｡</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-9 col-sm-12 col-lg-4']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="row no-gutters justify-content-center">
                  <div class="col-sm-5 col-lg-12 bbsd bb-sm-0 brsd-sm br-lg-0 bbsd-lg bc-gray-light">
                    <picture class="d-block h-14rem ovh">
                      <source srcset="/img/lp/curriculum/3@0.75x.webp" media={Constants.mdXl} />
                      <img loading="lazy" src="/img/lp/curriculum/3@0.5x.webp" style="aspect-ratio:228/101" alt="ロールモデル教育授業" class="h-100 w-100 of-cover">
                    </picture>
                  </div>
                  <div class="col-10 col-sm py-4 px-sm-5 p-lg-405">
                    <div class="h-100 d-flex align-items-center">
                      <div>
                        <h2 class:list={[Constants.fzLg, 'ls-0 lh-1 clr-blk font-V7MG-EB']}>ロールモデル教育授業</h2>
                        <p class:list={[Constants.mtFormRow, 'lh-105']}>全国各地で活躍するデフの先輩との交流を通して生きる知恵を学びます。先輩の切り拓いてきた道が､そこから得た学びが､子どもたちの学びとなり世界を拓くきっかけになります｡</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <AppSwipeFinger />
    </div>
    <div class="col-11 col-sm-9 col-md-12">
      <div class="d-flex justify-content-center">
        <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
          <span class="d-block mb-2 fz-sm clr-co">User's Voice</span>
          <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n004 ml-n1">ご利用までの流れ 😊 <span class="position-relative t-n1">💬</span></strong></span>
        </h2>
      </div>
    </div>
    <div class="col-12">
      <div class={Constants.swipe}>
        <div class={Constants.swipeWrap}>
          <ul class:list={[Constants.mtSec,Constants.swipeUl]}>
            <li class="col-auto col-sm-12">
              <div class:list={['clr-theme rounded w-flow w-lg-100 d-grid',Constants.gapDef]}>
                <figure class="form-row row-xl justify-content-center fz-5">
                  <div class="col-auto">
                    <i class="clr-co far fa-user-plus"></i>
                  </div>
                  <div class="col">
                    <div class:list={['d-grid',Constants.gapDef]}>
                      <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                      <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">WEBよりお申込み</h3>
                      <div class="form-row align-items-center justify-content-center gap-1">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-lg-3">
                          <p class="fz-05 ff-L clr-blk"><a href="">無料お申し込みページ</a>より、必要な情報をご記入ください。細かい入力項目にお答えいただく面談がよりスムーズになります。</p>
                          <ul class="liKome fz-025 lh-102">
                            <li class="d-block mt-2"><a href="https://twitter.com/circleo_" target="_blank" class="clr-co">授業の様子はCircle O 公式twitter<i class="fab fa-twitter"></i></a>からご覧ください。</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="clr-co far fa-user-headset"></i>
                  </div>
                  <div class="col">
                    <div class:list={['d-grid',Constants.gapDef]}>
                      <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                      <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">担当とアセスメント面談</h3>
                      <div class="form-row align-items-center justify-content-center gap-1">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-lg-3">
                          <p class="fz-05 ff-L clr-blk">お子様の様子や保護者のニーズやご希望のコースを伺います。運営面談の内容を元に、マッチする先生をご相談いたします。</p>
                          <ul class="liKome fz-025 lh-102">
                            <li class="d-block mt-2"><strong class="font-weight-bold">体験授業も随時実施</strong>しております。まずは運営面談にてお気軽にご相談ください。</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="clr-co far fa-comments-question"></i>
                  </div>
                  <div class="col">
                    <div class:list={['d-grid',Constants.gapDef]}>
                      <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                      <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">ご希望の先生と面談</h3>
                      <div class="form-row align-items-center justify-content-center gap-1">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-lg-3">
                          <p class="fz-05 ff-L clr-blk">先生一覧リストより担当を希望したい先生を選択いただきます。20分間のお試し面談を経て、担当可否を決定頂きます。</p>
                          <ul class="liKome fz-025 lh-102">
                            <li class="d-block mt-2">お申し込みの状況によっては紹介をお待ち頂く可能性があります</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="clr-co far fa-user-check"></i>
                  </div>
                  <div class="col">
                    <div class:list={['d-grid',Constants.gapDef]}>
                      <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                      <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">授業の先生が決定</h3>
                      <div class="form-row align-items-center justify-content-center gap-1">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-lg-3">
                          <p class="fz-05 ff-L clr-blk">担当の先生とご連絡する専用の公式LINEグループに招待いたします。授業頻度や日時は自由にご相談頂けます。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="clr-co far fa-person-chalkboard"></i>
                  </div>
                  <div class="col">
                    <div class:list={['d-grid',Constants.gapDef]}>
                      <div class="btsd bc-co bw-02r lh-2 mb-1 mt-4 next clr-co"></div>
                      <h3 class="fz-2 lh-1 text-center font-V7MG-EB clr-blk mx-n3">授業スタート</h3>
                      <div class="form-row align-items-center justify-content-center gap-1">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-xl-4rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-lg-3">
                          <p class="fz-05 ff-L clr-blk">初回授業日が決まれば、正式に授業がスタート！楽しむ事まず優先してください！</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </figure>
              </div>
            </li>
          </ul>
        </div>
        <AppSwipeFinger />
      </div>
    </div>
    <div class="col-11 col-sm-9 col-md-12">
      <div class="d-flex justify-content-center">
        <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
          <span class="d-block mb-2 fz-sm clr-co">User's Voice</span>
          <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n004 ml-n1">ご利用者さまの声 😊 <span class="position-relative t-n1">💬</span></strong></span>
        </h2>
      </div>
    </div>
    <div class="col-12">
      <div class:list={["mt-2",Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <ul class:list={[Constants.swipeUl]}>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="px-3 py-4">
                  <h2 class="fz-xs fz-lg-2xs ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h2>
                  <p class="lh-105 mt-2">我が家は札幌在住です。この度､東京の聾のおともだちに､オンラインで無償の授業がうけられるんだよと教えてもらい､大阪と札幌､だめ元で応募しました。この1ヶ月､先生との時間を心待ちにしていた子どもの姿を見てきました。担当していただいたハリー先生がアメリカ在住ということも､インターネットって､オンラインってすごいを子どもと一緒に私も実感しました｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="px-3 py-4">
                  <h2 class="fz-xs fz-lg-2xs ls-n001 lh-103 clr-blk font-V7MG-EB">👪 東京都・6歳保護者さま</h2>
                  <p class="lh-105 mt-2">おうちにいながら先生がすぐそこにいるような感覚で授業を受けています。自分のランドセルの紹介をしたり､おもちゃの自慢をしたり､クリスマスにはサンタクロースの話など､おうちにいるからこそ｢生きた生活のことば｣に触れることができています。手話ができる先生が一生懸命話をしてくださるので､子どもの話したいという気持ちが強くなった気がします｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="px-3 py-4">
                  <h2 class="fz-xs fz-lg-2xs ls-n001 lh-103 clr-blk font-V7MG-EB">👨‍👩‍👧‍👦 愛知県･小学校1年生の保護者さま</h2>
                  <p class="lh-105 mt-2">本当にこの様な良い機会を与えて頂き感謝しております。先生は本人に合わせてくれてとても優しいですし､ASLなども楽しく教えていただきました。ここに出会わなければ､今の息子はなかったのでは？というぐらい楽しんでくれました。無償で続けれていることが大変ありがたいです。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                <div class="px-3 py-4">
                  <h2 class="fz-xs fz-lg-2xs ls-n001 lh-103 clr-blk font-V7MG-EB">👪 東京都・6歳保護者さま</h2>
                  <p class="lh-105 mt-2">無料でのオンライン授業本当にありがとうございます。私や家族では気付かなかった言葉がけや語彙をどんどん扱ってもらい､娘もどんどん語彙や知識が増えていきます。また､わからない事を今まで曖昧にすることがありましたが､｢わからない｣や｢もう一回言って｣としっかり言えるようになってます。難聴児にとって身近な存在で活用しやすい今の環境を続けてほしいと思います｡</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <AppSwipeFinger />
    </div>
    <div class="col-11 col-sm-9 col-md-12 col-lg-8">
      <div class:list={[Constants.mtListTeacher, 'rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo']}>
        <div class="row no-gutters align-items-stretch">
          <div class="col-md-5 col-lg-5">
            <picture class="h-12rem h-md-16rem h-lg-20rem d-block">
              <img loading="lazy" src="/img/lp/voice.webp" decoding="async" alt="" style="aspect-ratio:131/96" class="w-100 h-100 of-cover">
            </picture>
          </div>
          <div class="col-md">
            <div class="p-405 p-sm-405 py-md-0 px-md-5 d-flex align-items-center h-100">
              <div>
                <h2 class:list={[Constants.fzXs, 'ls-0 lh-103 clr-blk font-V7MG-EB']}>📃🖋 対話授業無償提供の報告と今後の展開</h2>
                <p class="lh-105 mt-2">4月11日の呼びかけから5月31日までに､日本全国･タイ･アメリカから手話のできるろう者･難聴者･聴者の｢先生｣約30名が､日本全国の約60名のろう･難聴児の｢生徒｣へ向けて､それぞれ週2~3回､合計750回のオンライン授業の無償提供を行いました</p>
                <a href="https://silentvoice.co.jp/blog/1979/" target="_blank" class="d-block w-100 px-3 px-sm-4 py-2 mt-2 clr-co hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                  <div class="h-100 d-flex flex-wrap align-items-center">
                    <div class="font-V7MG-EB fz-xs">サークルオーの一次報告書を読む</div>
                    <div class="ml-auto"><i class="small fas fa-external-link"></i></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <section class:list={[Constants.mtLg, Constants.mxNmain, 'bg-wht']}>
        <div class="row justify-content-center">
          <div class="col-11 col-sm-10 col-md-8 col-lg-7 col-2xl-6">
            <div class:list={[Constants.ptLg, 'row no-gutters justify-content-center align-items-end mb-4']}>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-2.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-3.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
            </div>
            <h1 class="clr-blk font-V7MG-EB fz-xsm text-center"><strong class="clr-co mb-1 fz-tl ls-n005 d-block">📛 生徒さん募集 🐣</strong>お気軽にお問い合わせ&お申し込みください</h1>
            <p class="mt-3 fz-xsm fz-lg-md">全国の手話のできる､ろう者､難聴者､聴者の先生が多数在籍しております。現在､ことば､教科指導､ロールモデル教育ともに無償提供を行っております。全国の皆様からのご応募お待ちしております｡</p>
            <a href="https://circle-o.jp/app/#/entrance-page" target="_blank"  class:list={[Constants.mySm, 'd-block w-100 fz-xl fz-md-3xl fz-xl-4xl px-3 px-sm-4 py-2 clr-wht hvr-bg-red hvr-clr-red rounded-xl btn-neumo-co bsd bc-wht bw-02r']}>
              <div class="h-100 d-flex flex-wrap justify-content-center align-items-center">
                <div class="font-V7MG-EB">無料お申し込み</div>
                <div class="ml-2 mt-025"><i class="clr-wht fas fa-hands-helping"></i></div>
              </div>
            </a>
            <div class="row flex-nowrap align-items-center pt-2">
              <div class="col-4 col-sm-3 col-lg-2">
                <div class="px-lg-4">
                  <picture class="d-block ovh rounded-circle position-relative z-1">
                    <img loading="lazy" src="/img/prof/co-1.webp" decoding="async" alt="" class="w-100">
                  </picture>
                </div>
                <h3 class="fz-xsm text-center"><span class="d-inline-block text-left small-xs lh-101 font-RyoGothic-B mt-205">NPO法人<br>Silent Voice 理事</span><strong class="mt-2 mt-sm-0 d-block">岡松 有香</strong><small class="clr-blk d-block">言語聴覚士</small></h3>
              </div>
              <div class="col">
                <h4 class="fz-xs">一人ひとりに合わせた"授業"で</h4>
                <p class="fz-2xs fz-2xl-xs mt-2">初回アセスメントでお子様の状態や保護者のニーズを伺い先生とのマッチングや一人ひとりに合わせた"授業"を行います｡その生徒のコミュニケーション手段･学習言語･文化･聴力等といったろう･難聴児における多様性の重点項目を考慮した"授業"を提供しています｡</p>
              </div>
            </div>
            <hr class:list={[Constants.mtLg, 'mx-n4 mx-sm-0']}>
            <div class:list={[Constants.ptLg, 'row no-gutters justify-content-center align-items-end mb-4']}>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-4.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-2.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-3.svg" style="aspect-ratio:1/1" alt="CIRCLE-O">
              </div>
              <div class="col-auto">
                <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-1.svg" style="aspect-ratio:48/49" alt="CIRCLE-O">
              </div>
            </div>
            <h1 class="clr-blk font-V7MG-EB fz-xsm text-center mx-n5"><strong class="clr-co mb-1 fz-tl ls-n005 d-block">👩‍🏫手話のできる先生募集👨‍💻</strong>お気軽にお問い合わせ&お申し込みください</h1>
            <p class="mt-3 fz-xsm fz-lg-md">先生自身の今までの学び方､工夫のひとつひとつが､より多くの子どもたちにとっての学びであり工夫になっていきます｡心ある先生のご応募をお待ちしております｡</p>
            <a href="https://circle-o.jp/app/#/teacher-term-of-use-page?building=co01" target="_blank" class:list={[Constants.mySm, 'd-block w-100 fz-xl fz-md-3xl fz-xl-4xl px-3 px-sm-4 py-2 clr-wht hvr-bg-red hvr-clr-red rounded-xl btn-neumo-co bsd bc-wht bw-02r']}>
              <div class="h-100 d-flex flex-wrap justify-content-center align-items-center">
                <div class="font-V7MG-EB">先生になる</div>
                <div class="ml-2 mt-025"><i class="clr-wht fas fa-user-edit"></i></div>
              </div>
            </a>
            <hr class:list={[Constants.mtLg, 'mx-n4 mx-sm-0']}>
            <div class="row flex-nowrap align-items-center py-6">
              <div class="col-4 col-sm-3 col-lg-2">
                <div class="px-lg-4">
                  <picture class="d-block ovh rounded-circle position-relative z-1">
                    <img loading="lazy" src="/img/prof/itoda.webp" decoding="async" alt="" class="w-100">
                  </picture>
                </div>
                <h3 class="fz-xsm text-center"><span class="d-inline-block text-left small-xs lh-101 font-RyoGothic-B mt-205">サークルオー<br>事業責任者 </span><strong class="mt-2 mt-sm-0 d-block">井戸上 勝一</strong></h3>
              </div>
              <div class="col">
                <h4 class="fz-xs">子どもたちの世界を拓く機会を</h4>
                <p class="fz-2xs fz-2xl-xs mt-2">聴覚障害者である私の両親の幼少期は､人と"繋がる"ことが簡単ではありませんでした。しかし今は違います。オンラインで人と繋がり､ことばに触れ､学ぶことができる。サークルオーは子どもたちの世界が拓くような機会をこれからも作っていきます｡</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-11 col-sm-9 col-lg-7">
      <div class="d-flex justify-content-center">
        <h2 class:list={[Constants.mtLg, 'clr-blk font-V7MG-EB lh-1']}>
          <span class="d-block mb-2 fz-sm clr-co">FAQ</span>
          <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-0 ml-n1">よくあるご質問 🤔💡</strong></span>
        </h2>
      </div>
    </div>
    <div class="col-12">
      <h3 class:list={[Constants.mtSm, 'clr-co fz-4 font-V7MG-EB lh-1']}>👩🏻生徒さんや保護者さまからのご質問👨🏻</h3>
      <div class:list={["mt-2 box-tl-q",Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <ul class:list={[Constants.swipeUl]}>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">未就学でも受講可能でしょうか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ことばの獲得に対する課題感が高い場合､対象年齢外(未就学)でもを授業提供を行う場合があります｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">PCがなくても受講可能ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">PCもしくはタブレットなどの大画面で受講できる環境が必要です｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">スマホでも利用できますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">スライド教材を使用する為､PCもしくはタブレットなどの大画面で受講できる環境が必要です｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">海外在住でも受講可能ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">インターネットが繋がる環境であれば､どこでも受講可能です｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">手話ができなくても利用可能ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ろう者･難聴者･聴者の先生在籍しています｡お子様のコミュニケーション手段に合わせて授業を行います｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業は保護者同席が必須ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">初回授業のみ同席をお願いしております｡以降は保護者さまにお任せしております｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">ことば学習とはどんな授業ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">子どものことばの数を増やすための学習を先生との対話や授業などを通じて行います｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">ロールモデル学習とはなんですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ろう･難聴者の先生との交流会やイベントなどを実施しています｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">学校の勉強も教えてもらえますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">手話を使った教科学習指導も行っております｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">ことば教材を自宅で利用できますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業で利用した教材はご自宅でご活用頂いて構いません｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">先生とはどのように連絡しますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">本サービス登録後､会員ページ内で担当の先生と連絡ができます｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">聞こえる先生もいますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ろう者･難聴者･聴者の先生在籍しています｡お子様のコミュニケーション手段に合わせて授業を行います｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">保護者が先生とお話する時間はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業の終わりにお話する時間を設けています｡不明なことがありましたら運営にご連絡くださいませ｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">先生を変えることはできますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">お子さまに合わせて変更して頂くことは可能です｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">実際に先生と会うことはできますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">基本的にオンラインでの対応になっております｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">いつから有料になりますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">7月末まで無償提供しており､以降は有償予定です｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">有償になったタイミングでで辞めれますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">可能です｡その場合､事前に運営までご連絡ください｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">知り合いに紹介することは可能ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ぜひご紹介ください!!</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">運営とのやりとりは何で行いますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">サークルオー公式LINEを通してやりとりをします｡</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">子どもについて相談することも可能ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">公式LINEよりご相談を受け付けております｡</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <AppSwipeFinger />
      <h3 class:list={[Constants.mtLg, 'clr-co fz-4 font-V7MG-EB lh-1']}>👨‍🏫先生希望の方からのご質問👩🏻‍🎓</h3>
      <div class:list={["mt-2 box-tl-q",Constants.swipe]}>
        <div class:list={[Constants.swipeWrap]}>
          <ul class:list={[Constants.swipeUl]}>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">1回(コマ)の授業時間は何分ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">原則1コマ50分で、時間配分は先生にお任せしています。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">保護者とはどこまでやり取りしたらいいですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">基本的に授業に関わるやりとりのみお願いしております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業で使う教材はどんなものですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ことば教材や字幕付き映像教材などこちらで準備しているものがあります。先生によっては保護者と相談して教材を別途購入し、それを使っているケースもございます。教材購入費は先生、生徒がそれぞれ自己負担になっております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">週に何回授業を実施しますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">平均週1回程度ですが、中には週に2回実施する方もいらっしゃいます。保護者と相談して実施頻度は決めて頂きます。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">担当生徒はどのように決まりますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒が希望の先生を指名して、20分間の”セレクト面談”を実施します。その後、双方同意の元、担当生徒が決定します。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">生徒との相性が合わない場合、変えられますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒より変更希望があった場合のみペアの変更が可能です。生徒に関してトラブルやご相談がある場合は、運営が間に入り対応をいたします。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">就活や家庭の事情などで一時休止できますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">運営と相談の上、休止は可能です。ご都合に合わせて稼働を決めて頂けます。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">手話があまり得意ではないのですが、先生として活動はできますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">生徒のコミュニケーション手段に合わせて先生をマッチングいたしますので、手話レベルを考慮した上で生徒をご紹介いたします。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">マニュアルや研修制度はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業を担当して頂く前に他の先生の授業を見学して頂きます。授業に際して必要な知識をマニュアルにまとめております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">困った時に相談できる場はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">サークルオー運営とは公式LINEでいつでも連絡が取れます。些細な事からご遠慮なく何でもご相談ください。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">他の先生から話を聞いてみたいのですが、そのような制度はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">ご希望があれば、他の先生の授業見学、または話を聞くことは可能です。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">個別授業のみですか？集団授業はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">現在は個別指導を担当いただいています。今後集団指導も取り入れていく予定ですので、チャレンジしたい方は大歓迎です。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">自身の都合で授業をお休みしたい場合はどうしたらいいですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">日程変更は可能です。まずは保護者に先生公式LINEからご連絡いただき、その後予約システムからキャンセル手続きを行っていただきます。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">活動日や休日など、どのように設定したらいいですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">予約管理システム内で活動可能日を登録いただきますので、ご自身のスケジュールに合わせてご登録頂くことが可能です。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">どのように保護者にその日の授業内容を報告したらいいですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">予約システムにて日報という機能がございます。日報にてその日の授業内容を報告していただきます。それを基に給与計算を行いますので、提出必須になっております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">子どもは最大何人まで担当できますか？また最低何人担当ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">先生の可能な範囲で担当して頂くことは可能です。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">他の先生の授業を見学してから申し込みを決めることはできますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">可能です。ご希望の方は問い合わせフォームより「見学希望」と記載してください。運営より日程調整を行います。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業の準備には、給与が出ますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">授業準備、授業実施、授業後の日報提出含めて、 1200円/コマ(授業報酬)として報酬をお支払いいたします。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業を実施する場所はどこでも大丈夫ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">子どもが授業に集中して参加できる場所であれば、場所は問いません。ズームの背景設定などして頂けると良いと思います。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">働いている人同士が交流する場はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">現在先生同士が悩み相談をし合う場を用意しております。授業に関する疑問や不安などご相談頂けます。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">何かあった時に相談できる場所はありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">サークルオー運営公式LINEはもちろんのこと、新しい先生が慣れるまでは経験のある先生とペアを組み、困ったことがあったらそちらに質問できるような制度を設けております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">勤務開始にあたって用意するものはありますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">報酬のお支払い銀行口座がGMOあおぞら銀行になります。該当口座をお持ちで無い場合は、初回の振り込みまでに口座開設をお願いしております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業時間配分の例を聞きたいです。</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">45分間は子供との授業、残り5分間は保護者様とその日の振り返りや次回授業の相談の時間として頂きます。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">具体的にどんなことを教えますか？教科だけではなく、スキルを教える授業もOKですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">対話型ことば学習コースと個別学習サポートコースから担当可能なコースを選択頂きます。個別学習サポートコースの場合は、担当可能な教科、学年を事前に決めて頂き、その範囲で担当生徒を決定いたします。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">教育の知識がなくても大丈夫ですか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">スキルや経験は問いません。活動の中で試行錯誤できる方を歓迎しております。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業カリキュラム（授業構成）はどのように組み立てれば良いでしょうか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">初回授業にて確認したご家庭のニーズを元に授業の計画を立てていただきます。計画の立て方について、運営に相談することも可能です。</p>
                </div>
              </div>
            </li>
            <li class:list={[Constants.mtListTeacher, 'col-8 col-sm-5 col-md-5 col-lg-3']}>
              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100 d-flex flex-wrap">
                <div class="px-3 py-4">
                  <h4 class="fz-lg-xsm ls-0 lh-103 clr-blk font-V7MG-EB tl-q">授業で使用するズームは自分で用意しますか？</h4>
                  <p class="lh-105 mt-2 fz-2xs fz-xl-xs">先生のズームアカウントを使用して授業を実施して頂きます。使用するズームアカウントは、無料プランで構いません。</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <AppSwipeFinger />
      <section class:list={[Constants.pyLg, Constants.mtLg, Constants.mxNmain, 'bg-wht']}>
        <div class="row justify-content-center">
          <div class="col-11 col-sm-10 col-md-8 col-lg-7 col-xl-5">
            <div class="row justify-content-center">
              <div class="col-auto">
                <img loading="lazy" src="/img/global/logo.svg" alt="CIRCLE-O サークルオー" style="aspect-ratio:16/11" class="w-10rem">
              </div>
            </div>
            <h1 class="text-center clr-blk font-V7MG-EB lh-1 mt-405">
              <span class="d-block mb-2 mb-xl-3 fz-tl ls-n01 clr-co">協力団体のご紹介</span>
            </h1>
            <div class="row justify-content-center">
              <div class="col-11 col-sm-9 col-lg-8">
                <a href="https://www.comekko.com/" target="_blank" class="d-block">
                  <picture class="d-block">
                    <source srcset="/img/global/bnr/bnr-comekko.webp" media={Constants.mdXl} />
                    <img loading="lazy" style="aspect-ratio:433/121" src="/img/global/bnr/bnr-comekko@0.75x.webp" decoding="async" alt="子どもの手話の力を育む「こめっこ」" class="w-100">
                  </picture>
                  <h4 class="fz-2xs font-V7MG-B mt-3 lh-104 clr-gray-dark">０歳〜未就学児のろう･難聴児が集まり､遊びをとおして<ruby>手話<rt>ことば</rt></ruby>を獲得･習得する場です｡手話のあふれる場所で､子どもたちは楽しみながらわかる体験をします｡同じ仲間や先輩ろう者とかかわり､伝え合う力を育みます｡</h4>
                </a>
                <a class:list={[Constants.mtP, 'd-block w-100 px-3 px-sm-4 py-2 clr-co hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r']} href="https://www.comekko.com/" target="_blank">
                  <div class="h-100 d-flex flex-wrap align-items-center">
                    <div class="font-V7MG-EB fz-xs ls-0">子どもの手話の力を育む「NPOこめっこ」</div>
                    <div class="ml-auto"><i class="small fas fa-external-link"></i></div>
                  </div>
                </a>
              </div>
            </div>
            <div class:list={[Constants.mtLg, 'row justify-content-center']}>
              <div class="col-auto">
                <img loading="lazy" src="/img/global/logo.svg" alt="CIRCLE-O サークルオー" style="aspect-ratio:16/11" class="w-10rem">
              </div>
            </div>
            <h1 class="text-center clr-blk font-V7MG-EB lh-1 mt-405">
              <span class="d-block mb-2 mb-xl-3 fz-tl ls-n01 clr-co">サポーターのご紹介</span>
              <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n005 ls-lg-0">💝 皆さまの寄付で無償に ✍</strong>
            </h1>
            <div class="row justify-content-center">
              <div class="col-11 col-sm-9 col-lg-8">
                <p class:list={[Constants.mtP, 'fz-xsm fz-lg-md ls-0']}>NPO法人Silent Voiceへの寄付金を先生の授業報酬に充てながら､無償提供を行なっております｡</p>
                <a href="https://silentvoice.co.jp/news/2576/" target="_blank" class="d-block w-100 mt-4 px-3 px-sm-4 py-2 clr-co hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                  <div class="h-100 d-flex flex-wrap align-items-center">
                    <div class="font-V7MG-EB fz-xs ls-0">Silent Voice「サークルオー」寄付ページを読む</div>
                    <div class="ml-auto"><i class="small fas fa-external-link"></i></div>
                  </div>
                </a>
                <img class:list={[Constants.mtSec, 'w-100']} src="/img/global/logo-nf-land.svg" style="aspect-ratio:433/46" alt="公益財団法人日本財団">
                <a class:list={[Constants.mtP, 'd-block w-100 px-3 px-sm-4 py-2 clr-co hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r']} href="https://www.nippon-foundation.or.jp/journal/2020/44203" target="_blank">
                  <div class="h-100 d-flex flex-wrap align-items-center">
                    <div class="font-V7MG-EB fz-xs ls-0">日本財団ジャーナルの取材記事を読む</div>
                    <div class="ml-auto"><i class="small fas fa-external-link"></i></div>
                  </div>
                </a>
            <hr class:list={[Constants.mySec, 'bc-wht effect-neumo bw-02r']}>
            <h3 class="font-V7MG-EB clr-co fz-xsm pb-205">📣 メディア掲載(一部)</h3>
            <ul class="liSlash ls-0 fz-2xs fz-xl-xs font-V7MG-B">
              <li>NHK｢ろうを生きる難聴を生きる｣</li><li>NHK｢おはよう関西｣</li><li>日本テレビ｢the SOCIAL｣</li><li>毎日放送｢VOICE｣</li><li>朝日放送 ドキュメンタリー</li><li>読売新聞 毎日新聞 産経新聞</li><li>致知｢致知随想｣</li><li>TEDxKOBE</li><li>another life.</li><li>WORMO by KOKUYO</li>
            </ul>
              </div>
            </div>
            <hr class:list={[Constants.mySec, 'bc-wht effect-neumo bw-02r']}>
            <h3 class="font-V7MG-EB clr-co fz-xsm pb-205">💳 単発寄付で応援ください</h3>
            <p>オンライン授業の無償提供における先生への謝礼の補填､教材の拡充に充てさせて頂きます｡</p>
            <ul class="row low-gutters">
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="10000">
                   <input type="submit" value="1万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="30000">
                   <input type="submit" value="3万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="50000">
                   <input type="submit" value="5万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="100000">
                   <input type="submit" value="10万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="300000">
                   <input type="submit" value="30万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
              <li class="col-4 mt-3">
                <form action="https://payment.alij.ne.jp/service/credit" method="GET" target="_blank">
                   <input type="hidden" name="siteId" value="54001601">
                   <input type="hidden" name="sitePass" value="1601cgdf">
                   <input type="hidden" name="amount" value="500000">
                   <input type="submit" value="50万円" class="d-block w-100 fz-2xs fz-xl-xs py-025 clr-co font-V7MG-EB hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r">
                </form>
              </li>
            </ul>
            <ul class="liKome fz-2xs mt-3">
              <li>クレジットカードで寄付いただけます</li>
              <li>決済会社｢アナザーレーン｣のシステムを利用します</li>
              <li>ボタンを押すとの決済画面に移行します</li>
            </ul>
          </div>
        </div>
      </section>
      <section class:list={[Constants.pLg, Constants.mxNmain, 'px-4 px-sm-6 px-md-12']}>
        <div class="row low-gutters justify-content-center align-items-center">
          <div class="col-auto">
            <h3 class="fz-xsm ls-0 clr-blk">powerded by</h3>
          </div>
          <div class="col-auto">
            <img loading="lazy" src="/img/global/logo-sv-port.svg" style="aspect-ratio:18/31" alt="silentvoice" class="w-5rem ml-4">
          </div>
          <div class="col-12"></div>
          <div class="col-11 col-md-12 col-3xl-8">
            <div class:list={[Constants.mtLg, 'row add-xl-gutters justify-content-center align-items-stretch']}>
              <div class="col-md-6 col-lg-4">
                <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-md-100">
                  <picture class="h-12rem h-md-100 d-block">
                    <img loading="lazy" src="/img/lp/sv-all.webp" decoding="async" alt="" style="aspect-ratio:267/332" class="w-100 h-100 of-cover">
                  </picture>
                </div>
              </div>
              <div class="col-md col-lg-5">
                <dl class="row low-gutters form-lg-row flex-nowrap mt-2 fz-2xs fz-lg-xsm">
                  <dt class="col-auto font-V7MG-EB lh-102 mt-1">運営<br>会社</dt>
                  <dd class="col">NPO法人<br>Silent Voice(サイレントボイス)</dd>
                </dl>
                <dl class="row low-gutters flex-nowrap mt-2 fz-2xs fz-lg-xsm">
                  <dt class="col-auto font-V7MG-EB">本部</dt>
                  <dd class="col">〒542-0061 大阪府大阪市中央区安堂寺町1丁目3-12 大阪谷町ビル4F</dd>
                </dl>
                <dl class="row low-gutters flex-nowrap mt-2 fz-2xs fz-lg-xsm">
                  <dt class="col-auto font-V7MG-EB">設立</dt>
                  <dd class="col">2017年1月19日</dd>
                </dl>
                <dl class="row low-gutters flex-nowrap mt-2 fz-2xs fz-lg-xsm">
                  <dt class="col-auto font-V7MG-EB">目的</dt>
                  <dd class="col">ろう児･難聴児の教育の選択肢を増やす</dd>
                </dl>
                <dl class="row low-gutters flex-nowrap mt-2 fz-2xs fz-lg-xsm">
                  <dt class="col-auto font-V7MG-EB">役員</dt>
                  <dd class="col">代表理事 尾中友哉 / 理事 桜井夏輝 / 理事 宮田翔実 / 理事 村上美知 / 理事 岡松 有香 / 監事 大塚貴之</dd>
                </dl>
                <a class:list={[Constants.mtP, 'd-block w-100 px-3 px-sm-4 py-2 clr-co hvr-bg-red hvr-clr-red rounded-xl btn-neumo bsd bc-co bw-02r']} href="https://silentvoice.co.jp/" target="_blank">
                  <div class="h-100 d-flex flex-wrap align-items-center">
                    <div class="font-V7MG-EB fz-xs ls-0">Silent VoiceのWEBサイトへ</div>
                    <div class="ml-auto"><i class="small fas fa-external-link"></i></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</DefaultLayout>
