---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import AppSwipeFinger from '@/components/AppSwipeFinger.astro'
import SpTel from '@/components/SpTel.vue'
import SmoothScroll from '@/components/SmoothScroll.vue'
import AppTeachers from '@/components/AppTeachers.vue'
import { Constants } from '@/utils/constants.ts'

const meta = {
  title: 'コースのご紹介(コミュニケーション学習･教科学習･集団学習) - サークルオー',
  description: 'コロナ禍における｢新しい生活様式｣の普及によって生活にマスクは必需品となりました。この｢口が見えない｣マスクを多くの人が着用することで､話しかけられていることにも気づくことができず､先生やお友達とのコミュニケーションが取りにくい状況になった子どもたちがいます。オンライン対話コミュニティcircle O(サークルオー)が､そんな状況にある､ろう児・難聴児のご家庭へオンライン授業の無償提供を行います。子どもたちの｢学びを止めない｣ために､ぜひご活用ください。',
  ogImage: '/img/global/ogi/default.jpg',
  titleSuffix: false
}
---
<DefaultLayout { meta }>
  <div class:list={[Constants.mbLg]}>
    <div class="row justify-content-center">
      <div class="col-11 col-lg-10 col-2xl-9">
        <div class="row no-gutters justify-content-center align-items-end mb-4">
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-2.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
          </div>
          <div class="col-auto">
            <img loading="lazy" class="w-5rem w-sm-8rem w-xl-10rem" src="/img/global/illust/3-3.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
          </div>
        </div>
        <h1 class="clr-blk font-V7MG-EB fz-xsm text-center"><strong class="clr-co mb-1 fz-tl ls-n005 d-block">📛 選べる3コース 🐣</strong>お気軽にお問い合わせ&お申し込みください</h1>
        <div class="row justify-content-center">
          <div class="col-11 col-sm-9 col-lg-7">
            <p class="mt-3 fz-xsm fz-lg-md">全国の手話のできる､ろう者､難聴者､聴者の先生が多数在籍しております。現在､ことば､教科指導､ロールモデル教育ともに無償提供を行っておりますす｡</p>
          </div>
        </div>
        <ul>
          <li class:list={[Constants.mtListTeacher]}>
            <div class="rounded-sm ovh bg-wht bsd bc-co bw-04r effect-neumo">
              <div class="row no-gutters align-items-stretch">
                <div class="col-lg-8">
                  <div class="h-lg-100 d-lg-flex align-items-lg-center">
                    <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                      <h2 class="fz-6 lh-103 mx-n2 ls-0 clr-co font-V7MG-EB text-center">対話型ことば学習コース<small class="d-block smaller-3">〜楽しくことばに触れる､使う､慣れる〜</small></h2>
                      <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">料金</dt>
                            <dd class="col fz-4 font-V7MG-EB clr-co">2,500円/コマ</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">対象</dt>
                            <dd class="col fz-3 font-V7MG-EB">小学校低学年</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">授業</dt>
                            <dd class="col fz-3 font-V7MG-EB">1対1</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">時間</dt>
                            <dd class="col fz-3 font-V7MG-EB">45分間/コマ</dd>
                          </dl>
                        </div>
                      </div>
                      <p class="fz-2 lh-105 mt-2">ことば、絵、など様々な角度から一つの概念を伝えていきます。視覚教材を用いて、ことばに対するイメージがわかない子どもでも、対話を通して一緒にその概念を獲得していく環境を作っていくことで、“わかる＂を作り出していきます。</p>
                      <div class="row low-gutters">
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/9@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/9@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/9@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/3@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/3@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/3@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/5@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/5@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/5@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="d-grid gap-1">
                        <h2 class="fz-3 lh-103 clr-co font-V7MG-EB">こんな方にオススメです🙆‍♂️</h2>
                        <ul class="d-grid gap-1 fa-ul ml-4 ml-sm-405 fz-05">
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>自分の考えていることを相手に伝えることができない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>相手の話を聞いて回答することができない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>語彙数が少ない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>学校に友達が少ない。学校以外で手話で話せる時間が欲しい。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>保護者が手話できず、親子関係でもうまくコミュニケーション取れてない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>言語訓練がどうもなじめない</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>保護者も家事や仕事で忙しく子どもの学びに適切に関われない</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="h-100 brsd bc-co bw-04r"></div>
                </div>
                <div class="col-lg">
                  <div class="h-100 bg-gray-co px-3 py-4 d-flex align-items-center">
                    <div class="d-grid gap-2">
                      <h3 class="fz-3 lh-103 clr-co font-V7MG-EB">ご利用者さまの声🙋‍♀️</h3>
                      <div class:list={[Constants.swipe]}>
                        <div class:list={[Constants.swipeWrap]}>
                          <ul class:list={["gap-2",Constants.swipeUl]}>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">難聴児にとっての重要な言葉の獲得期に、我が家では引っ越し、単身赴任とコロナが重なって、母親以外の大人とマスク無しでじっくり話せる機会がなくなった。どこにいても先生と繋がり、良質な会話が出来たことは本当にありがたかった。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">初めて子どもが自身でコミュニケーションを取れるようになっているのをみられました。ママ、何言ってるのか教えて？と、聞かずとも理解できていました。その環境を体験できたことを子どもも私も嬉しく思いました。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">友達と言葉のやり取りが難しいこともあったのですが、先生と話す経験を増やしたことで会話の練習にもなり、新しく出会った友達と話が出来ているようです。新しい学校では話せないかもと思っていたのでとっても驚いています。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">コミュニケーションを図ることをプラスにさせてくれる、個性を大切にしてくれる所ですと伝えたいです。</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <AppSwipeFinger />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class:list={[Constants.mtListTeacher]}>
            <div class="rounded-sm ovh bg-wht bsd bc-co bw-04r effect-neumo">
              <div class="row no-gutters align-items-stretch">
                <div class="col-lg-8">
                  <div class="h-lg-100 d-lg-flex align-items-lg-center">
                    <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                      <h2 class="fz-6 lh-103 mx-n2 ls-0 clr-co font-V7MG-EB text-center">個別学習サポートコース<small class="d-block smaller-3">〜子どもたちの分からないを解消する〜</small></h2>
                      <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">料金</dt>
                            <dd class="col fz-4 font-V7MG-EB clr-co">2,500円/コマ</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">対象</dt>
                            <dd class="col fz-3 font-V7MG-EB">小学校高学年/中高生</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">授業</dt>
                            <dd class="col fz-3 font-V7MG-EB">1対1</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">時間</dt>
                            <dd class="col fz-3 font-V7MG-EB">45分間/コマ</dd>
                          </dl>
                        </div>
                      </div>
                      <p class="fz-2 lh-105 mt-2">面談内容を元に、子どものレベルに合わせた1対1の学習支援を。学校の授業で分からなかった所などを中心に、字幕付き映像コンテンツなどを用いて解説。学習を通して、目標を持つ、計画を立てる、継続して取り組む　という3つ力を育みます。</p>
                      <div class="row low-gutters">
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/9@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/9@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/9@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/3@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/3@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/3@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/5@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/5@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/5@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="d-grid gap-1">
                        <h2 class="fz-3 lh-103 clr-co font-V7MG-EB">こんな方にオススメです🙆‍♂️</h2>
                        <ul class="d-grid gap-1 fa-ul ml-4 ml-sm-405 fz-05">
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>自分から人になかなか話せない。友達関係でも孤立しがち。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>分からないことを人に言えない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>授業スピードも上がり、どんどん内容が分からず勉強がさっぱり分からない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>国語の文法が特に苦手。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>学習に苦手意識を持っている</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>親に言われないと勉強できない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>手話で教えてもらえる環境がなくほぼ諦めている状態</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>地域の中に聞こえない子どもの理解ある学習支援がない。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="h-100 brsd bc-co bw-04r"></div>
                </div>
                <div class="col-lg">
                  <div class="h-100 bg-gray-co px-3 py-4 d-flex align-items-center">
                    <div class="d-grid gap-2">
                      <h3 class="fz-3 lh-103 clr-co font-V7MG-EB">ご利用者さまの声🙋‍♀️</h3>
                      <div class:list={[Constants.swipe]}>
                        <div class:list={[Constants.swipeWrap]}>
                          <ul class:list={["gap-2",Constants.swipeUl]}>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">コロナの関係で、授業時間の短縮、補習なしと学校の先生方も困っている状況でした。そんななか、オンラインで家庭にいながら、手話で丁寧に英語を教えてくださり、英語を好きになりつつありますし、何より娘の表情が明るくなりました。先生方も豊富で、夜遅くにも関わらず時間を作ってくださり、とても感謝しています。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">聞こえない、また、コロナ禍で皆マスクの中、地域の学校に通っています。通常の塾には通いにくい我が子にとって、オンラインで手話による授業を受けられるサークルオーは、毎週楽しみにしている時間でした。わからない問題を教えてもらうことができ、ありがたく思っています。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">保護者だけでは、なかなか時間が取れない子どもの自主学習をサークルオーのおかげでとても助かりました。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">高校に入学してから手話を使い始めたため、手話自体の技量があがり、学校で居場所ができたように感じます。以前は通訳や筆談してもらいましたが、クラスや部活動でみんなの輪の中に入って、表情豊かにコミュニケーションとっているのをみて、心の支えがあるとこんなにも変わるのかと驚きました。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">もっと早く出会いたかった。子どもの心の安定は保護者の心配も減り、授業を受けることで学力のみならず、心が豊かになると思います。</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <AppSwipeFinger />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class:list={[Constants.mtListTeacher]}>
            <div class="rounded-sm ovh bg-wht bsd bc-co bw-04r effect-neumo">
              <div class="row no-gutters align-items-stretch">
                <div class="col-lg-8">
                  <div class="h-lg-100 d-lg-flex align-items-lg-center">
                    <div class:list={['px-3 py-4 d-grid',Constants.gapDef]}>
                      <h2 class="fz-6 lh-103 mx-n2 ls-0 clr-co font-V7MG-EB text-center">テーマ別集団学習コース<small class="d-block smaller-3">〜子どもたちの興味関心を広げる〜</small></h2>
                      <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto">
                          <div class="row no-gutters justify-content-center align-items-end">
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/2-1.svg" style="aspect-ratio:144/163" decoding="async" alt="CIRCLE-O">
                            </div>
                            <div class="col-auto">
                              <img loading="lazy" class="w-3rem w-sm-5rem" src="/img/global/illust/3-4.svg" style="aspect-ratio:1/1" decoding="async" alt="CIRCLE-O">
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">料金</dt>
                            <dd class="col fz-4 font-V7MG-EB clr-co">1,500円/回</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">対象</dt>
                            <dd class="col fz-3 font-V7MG-EB">小学生/中高生</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">授業</dt>
                            <dd class="col fz-3 font-V7MG-EB">集団</dd>
                          </dl>
                          <dl class="row low-gutters align-items-center">
                            <dt class="col-auto">時間</dt>
                            <dd class="col fz-3 font-V7MG-EB">30分~60分間/回</dd>
                          </dl>
                        </div>
                      </div>
                      <p class="fz-2 lh-105 mt-2">3ヶ月間で特定のテーマを継続して学べる集団学習コースです。ASL(アメリカ手話)、科学実験、映像作り、ロールモデル交流会など、用意するテーマは学校で習えないものばかり！全国の同年代の子どもたちと一緒にいろんな世界を体験してみよう！</p>
                      <div class="row low-gutters">
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/9@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/9@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/9@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/3@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/3@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/3@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                        <picture class="col h-7rem h-xl-9rem">
                          <source srcset="/img/lp/scene/5@0.5x.webp" media={Constants.mdXl} />
                          <source srcset="/img/lp/scene/5@0.33x.webp" media={Constants.mdSm} />
                          <img loading="lazy" src="/img/lp/scene/5@0.15x.webp" style="aspect-ratio:34/27" decoding="async" alt="CIRCLE O 聴覚障害のある6歳〜18歳の方向けオンライン授業" class="w-100 h-100 of-cover">
                        </picture>
                      </div>
                      <div class="d-grid gap-1">
                        <h2 class="fz-3 lh-103 clr-co font-V7MG-EB">こんな方にオススメです🙆‍♂️</h2>
                        <ul class="d-grid gap-1 fa-ul ml-4 ml-sm-405 fz-05">
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>学校と家庭以外の世界を知らない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>将来が心配。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>子どもの世界が非常に狭い。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>聞こえない子どもとの出会いが全くない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>将来をイメージできない。</li>
                          <li><span class="fa-li"><i class="clr-co bigger-1 fas fa-circle-check"></i></span>保護者も将来の可能性を伝えることができない。否定するケースもある。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="h-100 brsd bc-co bw-04r"></div>
                </div>
                <div class="col-lg">
                  <div class="h-100 bg-gray-co px-3 py-4 d-flex align-items-center">
                    <div class="d-grid gap-2">
                      <h3 class="fz-3 lh-103 clr-co font-V7MG-EB">ご利用者さまの声🙋‍♀️</h3>
                      <div class:list={[Constants.swipe]}>
                        <div class:list={[Constants.swipeWrap]}>
                          <ul class:list={["gap-2",Constants.swipeUl]}>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">手話で話せる機会を持つ事ができ、子供にとって、とても重要な時間だと</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">色んな地域の友達と交流出来てよかった。マスクなしでこどもの笑顔が見れるのはオンラインならではのいいところだと思います♪</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">自分の将来を考える事が出来た</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">世界は広いということ。北海道にいるので、飛行機にのらなければ別の地域にいけませんが、オンラインで他の地域をしれたこと。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">学校で学べないことをサークルオーでたくさん学び習得しました。</p>
                                </div>
                              </div>
                            </li>
                            <li class="col-10 col-sm-7 col-md-5 col-lg-12">
                              <div class="rounded-sm ovh bg-wht bsd bc-gray-light effect-neumo h-100">
                                <div class="px-3 py-4 d-grid gap-1">
                                  <h4 class="fz-05 ls-n001 lh-103 clr-blk font-V7MG-EB">👪 北海道･小学校3年生の保護者さま</h4>
                                  <p class="lh-102 fz-05">家族以外の，大人と触れ合うことができる，良い学びだと伝えます。</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <AppSwipeFinger />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <h2 class:list={['text-center clr-blk font-V7MG-EB lh-1', Constants.mtLg]}>
          <span class="d-block mx-n3 mb-2 mb-xl-3 fz-tl clr-co">多様な先生がサポート!</span>
          <strong class="d-block fz-xl fz-sm-2xl fz-lg-3xl fz-2xl-4xl ls-n005 ls-lg-0">👨‍🏫各界の先生が世界を拓く👩‍🏫</strong>
        </h2>
        <div class="row justify-content-center">
          <div class="col-11 col-sm-9 col-lg-7">
            <p class:list={['fz-xsm fz-lg-md', Constants.mtP]}>学校の先生､弁護士､海外在住､スポーツ選手などさまざまなジャンルで活躍する先生が在籍しています。</p>
          </div>
        </div>
      </div>
    </div>
    <div class:list={[Constants.swipe]}>
      <div class:list={[Constants.swipeWrap]}>
        <AppTeachers client:load />
      </div>
    </div>
    <AppSwipeFinger />
  </div>
</DefaultLayout>